{
    "settings": {
        "logging": {
            "url": "http://dot.com",
            "token": "look-a-me-im-a-token",
            "client-id": "CLIENTID",
            "client-secret": "CLIENTSECRET",
            "enabled": true
        }
    },
    "buttons": [{
        "name": "Slack Button 1",
        "id": "AMAZON-DASH-BUTTON-MAC",
        "action": "post",
        "post": {
            "url": "SLACK-HOOK",
            "headers": {"Content-type": "application/json"},
            "json": {"text": "Тук-тук! Ближайшая дверь"}
        }
    }]
}
